In [1]:
import pandas as pd

In [4]:
pwd

'D:\\PYTHON\\Data_Science\\Jupyter_NoteBook\\Pandas_Code'

In [12]:
ex = pd.read_csv("DATA/example.csv")
ex = pd.DataFrame(ex.sum())

In [13]:
ex.to_csv("DATA/sum.csv")

In [17]:
new  = pd.read_csv("DATA/sum.csv")
new

  Unnamed: 0   0
0          a  24
1          b  28
2          c  32
3          d  36

In [18]:
table = pd.read_html("https://en.wikipedia.org/wiki/World_population")

In [23]:
len(table)
table[0]

,Population,1,2,3,4,5,6,7,8,9,10
0,Year,1804,1927,1960,1974,1987,1999,2011,2022,2037,2057
1,Years elapsed,"200,000+",123,33,14,13,12,12,11,15,20