In [3]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [7]:
year = 2024
month = 1
day = 20
hour = 10
min = 5
sec= 30
mydate  = dt(year,month,day,hour,min,sec)
mydate.timestamp()

1705725330.0

In [24]:
ser = pd.Series(["Nov 2 2023","2024-01-01",None])

In [33]:
time = pd.to_datetime(ser,format="mixed") # in y/m/d format
time

0   2023-11-02
1   2024-01-01
2          NaT
dtype: datetime64[ns]

In [38]:
euro_date = "10-12-2023"
pd.to_datetime(euro_date , format="%d-%m-%Y")

Timestamp('2023-12-10 00:00:00')

In [104]:
data = pd.read_csv("DATA/RetailSales_BeerWineLiquor.csv" , parse_dates=[0])
data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           340 non-null    datetime64[ns]
 1   MRTSSM4453USN  340 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.4 KB

In [93]:
# data["DATE"] = pd.to_datetime(data["DATE"])
# data["DATE"] = data["DATE"].dt.year

In [100]:
data = data.set_index("DATE")

In [102]:
data.resample(rule="BQ").sum()

            MRTSSM4453USN
DATE
1992-03-31           4647
1992-06-30           5272
1992-09-30           5544
1992-12-31           6224
1993-03-31           4821
...                   ...
2019-06-28          14700
2019-09-30          15195
2019-12-31          16855
2020-03-31          14483
2020-06-30           5207

[114 rows x 1 columns]

In [103]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 340 entries, 1992-01-01 to 2020-04-01
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MRTSSM4453USN  340 non-null    int64
dtypes: int64(1)
memory usage: 5.3 KB