In [2]:
import pandas as pd
import numpy as np

In [3]:
teamMembers = [
    { "name": "Shreyash Bhute", "post": "Jr. Operations Officer"},
    { "name": "Arya Madhavi", "post": "Jr. Operations Officer", "mail": "2022.arya.madhavi@ves.ac.in" },
    { "name": "Surel Sanap", "post": "Jr. Public Relations Officer", "mail": "2022.surel.sanap@ves.ac.in" },
    { "name": "Simran Godhwani", "post": "Jr. Public Relations Officer", "mail": "2022.simran.godhwani@ves.ac.in" },
    {},
    { "name": "Aditya Kumar", "post": "Jr. Web Editor", "mail": "2022.aditya.sampathkumar@ves.ac.in" },
    { "name": "Karan Bhatia", "post": "Jr. Web Editor", "mail": "2022.karan.bhatia@ves.ac.in" },
    { "name": "Sami Thakur", "post": "Jr. Technical Officer", "mail": "2022.sami.thakur@ves.ac.in" },
    { "name": "Sagar Rajak", "post": "Jr. Technical Officer", "mail": "2022.sagar.rajak@ves.ac.in" },
    {"name":"" },
    { "name": "Anish Paresh Padhye", "post": "Jr. Editor", "mail": "2022.anish.padhye@ves.ac.in" },
]

In [4]:
np.nan
pd.NA
pd.NaT

NaT

In [5]:
np.nan == np.nan # False
np.nan is np.nan

True

In [6]:
df = pd.DataFrame(teamMembers)

In [7]:
df.loc[4,"mail"]

nan

In [8]:
df.isnull()
df.notnull()
df["mail"].notnull()

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8      True
9     False
10     True
Name: mail, dtype: bool

In [9]:
filt = df["mail"].notnull()
df[filt]

,name,post,mail
1,Arya Madhavi,Jr. Operations Officer,2022.arya.madhavi@ves.ac.in
2,Surel Sanap,Jr. Public Relations Officer,2022.surel.sanap@ves.ac.in
3,Simran Godhwani,Jr. Public Relations Officer,2022.simran.godhwani@ves.ac.in
5,Aditya Kumar,Jr. Web Editor,2022.aditya.sampathkumar@ves.ac.in
6,Karan Bhatia,Jr. Web Editor,2022.karan.bhatia@ves.ac.in
7,Sami Thakur,Jr. Technical Officer,2022.sami.thakur@ves.ac.in
8,Sagar Rajak,Jr. Technical Officer,2022.sagar.rajak@ves.ac.in
10,Anish Paresh Padhye,Jr. Editor,2022.anish.padhye@ves.ac.in

In [10]:
# KEEP THE DATA
# DROP THE DATA
# FILL THE DATA

In [11]:
df.dropna(thresh=1)

,name,post,mail
0,Shreyash Bhute,Jr. Operations Officer,NaN
1,Arya Madhavi,Jr. Operations Officer,2022.arya.madhavi@ves.ac.in
2,Surel Sanap,Jr. Public Relations Officer,2022.surel.sanap@ves.ac.in
3,Simran Godhwani,Jr. Public Relations Officer,2022.simran.godhwani@ves.ac.in
5,Aditya Kumar,Jr. Web Editor,2022.aditya.sampathkumar@ves.ac.in
6,Karan Bhatia,Jr. Web Editor,2022.karan.bhatia@ves.ac.in
7,Sami Thakur,Jr. Technical Officer,2022.sami.thakur@ves.ac.in
8,Sagar Rajak,Jr. Technical Officer,2022.sagar.rajak@ves.ac.in
9,,NaN,NaN
10,Anish Paresh Padhye,Jr. Editor,2022.anish.padhye@ves.ac.in

In [12]:
# axis=1 i.e columns
# axis=0 i.e rows
df.dropna(axis=1)
df.dropna(subset=["mail"])

,name,post,mail
1,Arya Madhavi,Jr. Operations Officer,2022.arya.madhavi@ves.ac.in
2,Surel Sanap,Jr. Public Relations Officer,2022.surel.sanap@ves.ac.in
3,Simran Godhwani,Jr. Public Relations Officer,2022.simran.godhwani@ves.ac.in
5,Aditya Kumar,Jr. Web Editor,2022.aditya.sampathkumar@ves.ac.in
6,Karan Bhatia,Jr. Web Editor,2022.karan.bhatia@ves.ac.in
7,Sami Thakur,Jr. Technical Officer,2022.sami.thakur@ves.ac.in
8,Sagar Rajak,Jr. Technical Officer,2022.sagar.rajak@ves.ac.in
10,Anish Paresh Padhye,Jr. Editor,2022.anish.padhye@ves.ac.in

In [50]:
df.fillna("Place Holder")

,name,post,mail
0,Shreyash Bhute,Jr. Operations Officer,Place Holder
1,Arya Madhavi,Jr. Operations Officer,2022.arya.madhavi@ves.ac.in
2,Surel Sanap,Jr. Public Relations Officer,2022.surel.sanap@ves.ac.in
3,Simran Godhwani,Jr. Public Relations Officer,2022.simran.godhwani@ves.ac.in
4,Place Holder,Place Holder,Place Holder
5,Aditya Kumar,Jr. Web Editor,2022.aditya.sampathkumar@ves.ac.in
6,Karan Bhatia,Jr. Web Editor,2022.karan.bhatia@ves.ac.in
7,Sami Thakur,Jr. Technical Officer,2022.sami.thakur@ves.ac.in
8,Sagar Rajak,Jr. Technical Officer,2022.sagar.rajak@ves.ac.in
9,,Place Holder,Place Holder
10,Anish Paresh Padhye,Jr. Editor,2022.anish.padhye@ves.ac.in

In [58]:
prices={"economy":25000,"buisness":100000,"first":200000}

In [59]:
pr = pd.Series(prices)

In [60]:
pr.mean()
pr.interpolate

<bound method NDFrame.interpolate of economy      25000
buisness    100000
first       200000
dtype: int64>